@model QuestionsIndexViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

@if (!Model.Questions.Any())
{
    <h1>
        No questions
    </h1>
}

@foreach(var question in Model.Questions)
{
    <div>
        @question.Text
    </div>
}

